.container {
  height: 4.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.8rem;
  line-height: 2.1rem;
  padding: 0 2rem;

  svg {
    margin-left: 3rem;
  }
}

.inline {
  color: white;
  border: solid 1px white;
  transition: all 200ms ease-in;

  &:hover {
    background-color: rgba(0,0,0,0.3);
  }
}