.container {
  position: relative;
  height: 100vh;

  &:before {
    position: absolute;
    content: 'Уют в вашем доме';
    right: 20vw;
    top: 30%;
    font-weight: bold;
    font-size: 7.2rem;
    line-height: 8.4rem;
    color: rgba(255, 255, 255, 0.3);
  }

}

.wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 70%;
  background-color: rgba(0, 0, 0, 0.38);
  padding: 4rem 15rem 9rem 4rem;

  li {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 4rem;
    color: #FFFFFF;
  }
}

.content {
  width: 80rem;
  margin: 0 0 0 auto;
}

.title {
  font-weight: 300;
  font-size: 4rem;
  line-height: 3.2rem;
  color: #FFFFFF;

  &:after {
    content: '';
    display: block;
    width: 42rem;
    border-top: solid 2px #E30000;
    margin: 3.5rem 0 2.4rem;
  }
}