.container {
  width: 100%;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2.4rem;

  h2 {
    padding-right: 1rem;
  }

  li {
    position: relative;
    margin-bottom: 2rem;
    padding-left: 3rem;

    &:before {
      position: absolute;
      content: '';
      display: inline-block;
      width: 1.2rem;
      height: 1.2rem;
      left: 0;
      top: 0.5rem;
      background-color: #9B51E0;
      border-radius: 50%;
    }
  }

  a {
    color: #9B51E0;
  }
}

.footer {
  border-top: solid 1px #dbdbdb;
  padding: 3rem 0;
}