.container {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5rem;
}
.slide {
  height: 20rem;
  width: 100%;
}

.wrapper {
  width: 28rem;
}

.icon {
  width: 5rem;
  height: 5rem;
  background: no-repeat center;
  background-size: contain;
}

.title {
  font-weight: 300;
  font-size: 2.2rem;
  line-height: 3rem;
  color: #000000;
  margin-bottom: 1rem;

  &:before {
    content: '';
    display: block;
    width: 20rem;
    border-top: 2px solid #E30000;
    margin: 1rem 0;
  }
}

.text {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #434343;
}

:global {
  .swiper-pagination-bullet-active {
    background-color: #9B51E0;
  }
}