.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 4.8rem;
  font-weight: 500;
  line-height: 5.6rem;
  color: #000000;
  margin-bottom: 3.7rem;
}

.text {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 3.4rem;
  color: #000000;
  margin-bottom: 1rem;
}

.img {
  width: 52rem;
  height: 40rem;
  background: url("../../static/colors.png") no-repeat center;
  background-size: cover;
}