.container {
  width: 100%;


  p {
    margin: 0 0 1rem;
  }
}

.imageWithContent {
  margin-bottom: 2.4rem;
}

.using {
  margin: 12rem auto;
}

.advantages {
  margin: 12rem auto;
}

.banner {
  margin: 12rem 0;
}