.title {
  @include layout;
  font-size: 4.8rem;
  margin: 3.6rem auto 2.4rem;
  padding-right: 40%;
}

.imageWithContent {
  margin-bottom: 2.4rem;
}

.using {
  margin: 12rem auto;
}

.advantages {
  margin: 12rem auto;
}

.banner {
  margin: 12rem 0;
}