.advantages {
  margin: 6rem auto;
}

.title {
  font-size: 2.4rem;
  @include layoutMobile;
  margin: 2.4rem auto;
}

.usingMdf {
  margin: 6rem auto;
}

.imageWithContent {

  &:nth-child(n + 2):before {
    content: '';
    display: block;
    margin: 4rem 2rem;
    border-top: solid 1px darkgray;
  }
}

.banner {
  margin: 6rem auto;
}