.container {
  position: relative;
  background: no-repeat center;
  background-size: cover;
}

.fade {
  padding: 4rem 0;
  background: rgba(0, 0, 0, 0.68);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  position: relative;
  z-index: 3;
}

.info {
  margin-bottom: 2rem;
  .number {
    font-size: 3rem;
    line-height: 5rem;
    color: #F7B100;
    margin-bottom: 3.5rem;
  }
  p {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: #FFFFFF;
  }
  .socials {
    bottom: 12rem;
    height: 3rem;
    width: 12rem;
    display: flex;
    justify-content: space-between;
    a {
      width: 3rem;
      height: 3rem;
      background: no-repeat center;
      background-size: contain;
    }
    .viber {
      background-image: url("../../static/viber.png");
    }
    .wa {
      background-image: url("../../static/wa.png");
    }
    .vk {
      background-image: url("../../static/vk.png");
    }
  }
}

.hr {
  width: 100%;
  height: 1px;
  background: #EAEAEA;
}

.brand {
  width: 100%;
  margin-top: 4rem;
  display: flex;
  flex-direction: column;

  span {
    font-size: 1.8rem;
    line-height: 2.1rem;
    color: #FFFFFF;
  }
  .logo {
    height: 8rem;
    width: 13rem;
    background-image: url("../../static/unclespace_white.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
  }
}
