.container {
  position: relative;
  width: 40rem;

  label {
    font-size: 1.6rem;
    line-height: 3.5rem;
    color: #727272;
  }
}

.text {
  margin-top: 1rem;
  margin-left: 1.5rem;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #4F4F4F;
}

.line {
  border-top: solid 3px #9B51E0;
  transition: all 200ms ease-in;

  &__error {
    composes: line;
    border-color: red;
  }

  &__success {
    composes: line;
    border-color: darkgreen;
  }
}

.errors {
  composes: text;
  height: 1rem;
  color: red;
}

:global {
  .select {


    &__control {
      border: none !important;
      height: 5.2rem !important;
      background: #F2F2F2 !important;
      font-size: 2.4rem !important;
      line-height: 3.5rem !important;
      color: #4F4F4F !important;
      border-radius: 0.8rem 0.8rem 0 0 !important;

      &--is-focused {
        box-shadow: none !important;
      }
    }

    &__value-container {

    }

    &__single-value {
      padding-top: 1rem !important;
    }

    &__menu {
      font-size: 2.4rem !important;
      line-height: 3.5rem !important;
      color: #4F4F4F !important;

      &-list {

      }
    }

    &__option {

      &--is-disabled {

      }

      &--is-focused {
        background-color: #e5e5e5;
      }

      &--is-selected {
        background-color: #a1a1a1;
      }
    }
  }
}