.container {
  @include layoutMobile;
  margin: 4rem auto;
}

.wrapper {
  width: 100%;
}

.title {
  font-size: 2rem;
  font-weight: 500;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding-bottom: 1rem;

  &__icon {
    margin-right: 2rem;

    svg {
      width: 3.2rem;
      height: 3.2rem;
    }
  }
  &__title {
    font-size: 1.2rem;
  }
  &__text{
    font-weight: 500;
    margin-top: .4rem;
    font-size: 1.6rem;
  }
}
