.container {
  @include layout;
  display: flex;
  justify-content: space-between;
  margin: 12rem auto;
}


.title {
  font-weight: 500;
  font-size: 3.6rem;
  margin-bottom: 2rem;
}

.item {
  display: flex;
  align-items: center;
  margin-bottom: 6rem;

  &__title {
    font-size: 1.8rem;
  }

  &__text{
    font-weight: 500;
    margin-top: .8rem;
    font-size: 2.4rem;
  }

  &__icon {
    margin-right: 4rem;

    svg {
      width: 6.4rem;
      height: 6.4rem;
    }
  }
}
