.socials {
  bottom: 12rem;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: space-between;

  svg {
    color: white;
    //width: 4rem;
    //height: 4rem;
    transition: all 200ms ease-in;

    &:hover {
      color: orange;
    }
  }

  a {
    width: 3rem;
    height: 3rem;
    background: no-repeat center;
    background-size: contain;
  }
  .viber {
    background-image: url("../../static/viber.png");
  }
  .wa {
    background-image: url("../../static/wa.png");
  }
}